.cabecalho {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background-color: #343A40;
}

.cabecalho-logo {
    h1 {
    display: flex;
    color: #E89B21;

    p {
        background-color: #E89B21;
        color: #343A40;
    }
}
}