.criar-colecao {
    gap: 30px;
    flex-direction: column;
    display: flex;
    max-width: 800px;
    height: 100vh;
    margin: auto;
    padding: 16px; 

    h2 {
      color: #61809e;
      text-align: center;
      display: flex;
      align-items: center;
      gap: 8px; 

      .botao-voltar {
        background: none;
        border: none;
        color: #61809e;
        font-size: 24px;
        cursor: pointer;

        &:hover {
          color: #343A40;
        }
      }
    }

    .formulario-colecao {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .formulario-campo {
        display: flex;
        flex-direction: column;

        label {
          font-weight: bold;
          color: #343A40;
        }

        input,
        textarea {
          padding: 8px; 
          border-radius: 5px;
          border: 1px solid #ccc;
          font-family: 'Montserrat', sans-serif;
        }

        textarea {
          resize: vertical;
          min-height: 80px;
        }
      }

      .botao-colecao {
        background-color: #343A40;
        color: #61809e;
        padding: 11px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        text-align: center;

        &:hover {
          background-color: #61809e;
          color: #343A40;
        }
      }
    }
  }
