.colecao-container {
    display: flex;
    width: 500px;
    height: 150px;
    gap: 15px;

    .colecao-foto {
        MAX-width: 300px;
        min-width: 250px;
        height: 100%;
        border-radius: 15px;
        background-color: #ededed;
    }

    .colecao-info {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        .colecao-cabecalho {
            JUSTIFY-CONTENT: space-between;
            flex-wrap: wrap;
            display: flex;
            align-items: center;

            a,
            h1 {
                max-width: 200px;
                color: #61809e;
                cursor: pointer;
                transition: color 0.3s;

                &:hover {
                    color: #343A40;
                }
            }
        }

        .colecao-titulo {
            color: #61809e;
        }

        p {
            color: #343a40;
            font-weight: 500;
        }
    }
}