.card-video {
    background-color: #f4f4f4;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 200px;

    &:hover {
        transform: scale(1.05);
    }

    .thumbnail-video {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

    .informacoes-video {
        padding: 8px;

        .cabecalho-video {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .titulo-video {
            font-size: 16px;
            font-weight: bold;
            color: #343A40;
            margin: 0;
        }

        .duracao-video {
            font-size: 14px;
            color: #666;
        }
    }
}
